@import url('https://fonts.googleapis.com/css2?family=Antic+Slab&family=Anton&family=Arvo&family=Quicksand&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* outline: 1px dotted green; */
}

:root {
  --color1:#1A2B34 ;
  --color2:#6498CE ;
  --color3:#FBC95A ;
  --color4:#D0824E ;
  --color5:#E1403C ;

  --font1: 'Antic Slab', serif;
  --font2: 'Anton', sans-serif;
  --font3: 'Arvo', serif;
  --font4: 'Quicksand', sans-serif;
}



h1 {
  font-family: var(--font1);
  font-size: 250%;
}

h2 {
  font-family: var(--font2);
  font-size: 28px;
}

body{
  min-height: 100vh;
  background: linear-gradient(0deg, var(--color2) 0%, var(--color1) 65%);
  /* padding-bottom: 5rem; */
}

html {
  width: 100%;
}