.card {
    min-width: 300px;
    height: 400px;
    overflow: auto;
}

.card::-webkit-scrollbar {
    display: none;
}

.card_img {
    height: 100px;
    border-radius: 20px;
}

.card-title{
    height: 70px;
    font-size: 200%;
}

.education-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-row {
    padding: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 150px;
}

.card_content {
    padding: 0 1rem;
}


@media screen and (max-width: 800px){
    .education-container{
        display: flex;
        flex-flow: column-reverse;
    }
}