.thefamImg {
    border: 1px solid black;
    border-radius: 3rem;
}

hr {
    margin: 0 2rem 1rem 0;
    height: 0.1rem;
    background: var(--color1);
}

.Yborder {
    border: 5px solid var(--color3);
}

ul {
    width: fit-content;
}

li {
    width: fit-content;
    font-family: var(--font4);
    font-weight: bold;
}

.label {
    display: flex;
    align-items: center;
    text-orientation: upright;
    text-transform: uppercase;
    writing-mode: vertical-lr;
    max-height: min-content;
    color: var(--color3);
}

/* @media screen and (max-width: 800px){
    .label {
        display: flex;
        align-items: center;
        text-transform: uppercase;
        text-orientation: upright;
        writing-mode: horizontal-tb;
        max-height: min-content;
        color: var(--color3);
    }
} */