.technical_projects_container{
    padding-top: 1rem;
    background-image: url("../img/background.png");
    border-top: 5px solid var(--color3);
    border-bottom: 5px solid var(--color3);
}

.tech-box {
    margin: auto;
    margin-top: 2rem;
    margin-bottom: 2rem;
    align-items: center;
    width: 90%;
    background: white;
    border: 3px solid var(--color3);
}

.tech-box-content {
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}